doctype
html
  head
    title Ecological Forcasting
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/main.css")
    
    script(src='/js/jquery-1.11.3.js', type='text/javascript')
    script(src='/js/bootstrap.min.js', type='text/javascript')
  body
    
    != partial("/_include/_header")
    != yield
    != partial("/_include/_footer")
    

