doctype
html
  head
    title("Tickcast")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/main.css")
    
    script(type='/js/jquery-1.11.3.js', src='text/javascript')
    script(type='/js/bootstrap.min.js', src='text/javascript')
  body
    
    != partial("/_include/_header")
    != yield
    != partial("/_include/_footer")
    

