h1(align='center') Welcome to Tickcast

.center-div
  #map.mapbox
  
  br
  br
  br

  .slider
    input(type='range', name='points', min='0', max='10')#slider

  br
  br
  br

script(type="text/javascript").
  $('#slider').mousemove(function() {
    var theValue = $('#slider').val();
  
    if (theValue <2.5){
      
      $("#map").css("background-position-x", "-50px");
      
    } else if (theValue <5){
      
      $("#map").css("background-position-x", "-437px");      
      
    } else if(theValue <7.5){
      
      $("#map").css("background-position-x", "-822px");      
    } else {
      
      $("#map").css("background-position-x", "-1208px");      
    }
    
  
  
  });
