h1(align='center') Welcome to Tickcast

#map.mapbox
  
br
br
br

#map2.mapbox

br
br
br

#map3.mapbox

br
br
br

#map4.mapbox

br
br
br

.slider
  input(type='range', name='points', min='0', max='10')#slider

br
br
br

script(type='/javascript/jquery-1.11.3.js', src='text/javascript')

script(type="text/javascript").
  alert($("#map").attr('id'));
  // $('#slider').change(function() {
  //   alert( 'Handler' );
  // });
