// document to display tick observations on map
// would be nice to let user select some filter aspects such as 
// what time period of data to display and what tick species 
// need to display different species / sexes in different colors.
// need a way to format data so that we can do this ????


doctype html
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Ecological Forcasting
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 90%;
      margin: 100;
      padding: 100;
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBQgilx3e3-f0pgRfx-GCnNgzWllJlMhSs')
    
    //load tick point observations 
    script(type='text/javascript', src='http://ocean-dev.bigelow.org/static/cleaned.json')
    script(type='text/javascript', src='/js/maps.js')
    
    script.
    
      var mydata = JSON.parse(data);
      
      // create different colored icons for the different tick sexes
      var male_deer = createNewIcon("008000")
      var female_deer = createNewIcon("FE7569")
      var male_dog = createNewIcon("0000FF")
      var female_dog = createNewIcon("9370DB")
      
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 44.8012, lng: -68.7778},
      
        });
        for (i = 0; i < mydata.length; i++) { 

           var LatLng = {lat: mydata[i].Lat, lng: mydata[i].Lon};
          //determine marker color based on tick sex
          if (mydata[i].species === "Deer - Adult Female"){
           
            new google.maps.Marker({
                      position: LatLng,
                      map: map,
              icon: female_deer
            });
          } else if (mydata[i].species ==="Deer - Adult Male"){
            new google.maps.Marker({
                      position: LatLng,
                      map: map,
              icon: male_deer
            });
            
          } else if (mydata[i].species ==="Dog - Female"){
            new google.maps.Marker({
                      position: LatLng,
                      map: map,
              icon: female_dog
             });
          } else{
            new google.maps.Marker({
                      position: LatLng,
                      map: map,
              icon: male_dog
             });
          }
         


                
        }      
      
      }
      
      function createNewIcon(color){
        var icon = new google.maps.MarkerImage(
                  "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + color,
                   new google.maps.Size(21, 34),
                   new google.maps.Point(0,0),
                   new google.maps.Point(10, 34)
                  );
        
                  return icon;
      }
      
      function createNewMapPoint(LatLong, icon_style){
        var pt = new google.maps.Marker({
                  position: LatLong,
                  map: map,
              icon: icon_style
           });
           return pt;
      }
     
      //load map with markers
      google.maps.event.addDomListener(window, 'load', initMap);
    

     
     
  body
    h1(align='center') Where Do Our Observations Come From?
    #map
      
      
      