// experiment with adding custom heat map google maps


doctype html
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Ecological Forcasting
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 90%;
      margin: 100;
      padding: 100;
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBQgilx3e3-f0pgRfx-GCnNgzWllJlMhSs&libraries=visualization')
    script.
    
      var lats = [43.8992,44.42977,42.854886,42.534976,43.801773,43.832642,43.815169,43.907812,43.682148];
      var lons = [-69.95894,-70.06456,-71.6082,-72.52522,-70.17932,-69.58903,-70.145709,-69.64608,-70.35823];
      
      
      // experiment with different custom layers
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 44.8012, lng: -68.7778},
          minZoom: 6,
          maxZoom: 9
      
        });
        
        var kmzLayer = new google.maps.KmlLayer('http://xeenat.com/energy/data.kmz');
           kmzLayer.setMap(map);
           
      }
      
      var heatMapData = [
        {location: new google.maps.LatLng(43.8992, -69.95894), weight: 0.5},
        {location: new google.maps.LatLng(44.42977, -70.06456), weight: 2},
        
      
      ];
      
      
      
      
      function getData() {
        var myArray = [];
       
        for (i = 0; i < lats.length; i++) { 

          var ints = Math.random() * 2;
          var LatLng = new google.maps.LatLng(lats[i], lons[i]); 
          var new_entry = {location: LatLng, weight: ints};
          myArray[i] = new_entry;
                  
         }
         return myArray;
       }
     
      //load map with custom layer
      google.maps.event.addDomListener(window, 'load', initMap);
      
     
  body
    h1(align='center') Heat Map Layer
    #map
      
      
      