.row
  .col-md-8
    ul.nav.nav-tabs
      li(role='presentation')
        a(href='/index.html') Home
      
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          | Report 
          span.caret
        ul.dropdown-menu
          li
            a(href='https://report.bigelow.org/tick/', target='_blank') Ticks
          li.divider(role='separator')
          li
            a(href='https://jellyfish.bigelow.org/jellyfish/', target='_blank') Jellyfish
      
      li.active(role='presentation')
        a(href='#') Weekly Podcast
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Other Species 
            span.caret
          ul.dropdown-menu
            li
              a(href='/jelly.html') Jelly Fish
            li.divider(role='separator')
            li
              a(href='#') Moose
     
      li(role='presentation')
          a(href='/news.html') News
      
    br
    br  
    img(src="/images/c1.png", style='width:604px;height:260px;')
    br
    br
    br
    .panel.panel-primary
        .panel-heading
          h3.panel-title Weekly Forecast Update Podcasts
        .panel-body
           L Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nis  
        
        
    br
    br 
    
        
             
    
  .col-md-4
    br
    br        
    .panel.panel-default
      .panel-heading
        h3.panel-title Episodes
      .panel-body.tab-pane
        .list-group
          a.list-group-item.active(href='#ep1')
            h4.list-group-item-heading The Weekend Update July 14, 2017
            p.list-group-item-text We discuss deer tick encounter risk ...
          br
          a.list-group-item.active(href='#ep2')
            h4.list-group-item-heading The Weekend Update July 7, 2017
            p.list-group-item-text Our tick forecast is down this week, so we will take a look at the Jelly Fish forecast...
          br
          a.list-group-item.active(href='#ep3')
            h4.list-group-item-heading The Weekend Update June 30, 2017
            p.list-group-item-text We discuss deer tick encounter risk ...
          br
          a.list-group-item.active(href='#ep4')
            h4.list-group-item-heading The Weekend Update June 23, 2017
            p.list-group-item-text We discuss deer tick encounter risk ... 
          br
          a.list-group-item.active(href='#ep5')
            h4.list-group-item-heading The Weekend Update June 09, 2017
            p.list-group-item-text We discuss deer tick encounter risk ... 
          br
          a.list-group-item.active(href='#ep6')
            h4.list-group-item-heading The Weekend Update June 02, 2017
            p.list-group-item-text We discuss deer tick encounter risk ... 
            

.row 
 .col-md-9.col-md-offset-1
    .panel.panel-default#ep1
        .panel-heading
            h3.panel-title The Weekend Update July 14, 2017
        .panel-body
          .row
            .col-md-7
                h5 About:
                p We discuss deer tick encounter risk in the Northeast. We are waiting for user reports of Jellyfish to generate better forecasts. Remember to report Jellyfish to help us get a better forecast.
            .col-md-5
              br
              br
              audio(controls='')
                source(src='/audio/Ecocast2017.07.14.mp3', type='audio/mpeg')
          br
          img(src='/images/podcast/2017-07-14.png',style='width:830px;height:300px;')
          br
                
    .panel.panel-default#ep2
        .panel-heading
            h3.panel-title The Weekend Update July 07, 2017
        .panel-body
          .row
            .col-md-7
                h5 About:
                p Our tick forecast is down this week, so we will take a look at the Jelly Fish forecast. Remember to enter Jellyfish sightings.
            .col-md-5
              br
              br
              audio(controls='')
                source(src='/audio/Ecocast2017.07.07.m4a', type='audio/mp4')
          br
          img(src='/images/podcast/Whitecross2017-07-05-v2.002-forecast.png')
                 
    .panel.panel-default#ep3
        .panel-heading
            h3.panel-title The Weekend Update June 30, 2017
        .panel-body
          .row
            .col-md-7
                h5 About:
                p We discuss the encounter risk for three different species of Jellyfish
            .col-md-5
              br
              br
              audio(controls='')
                source(src='/audio/Ecocast2017.06.30.m4a', type='audio/mp4')
          br
          img(src='/images/podcast/Jellies2017.06.30.jpg', style='width:830px;height:300px;')
                
    .panel.panel-default#ep4
        .panel-heading
            h3.panel-title The Weekend Update June 23, 2017
        .panel-body
          .row
            .col-md-7
                h5 About:
                p We discuss the encounter risk for three different species of Jellyfish, as well as a Jellyfish bloom in Casco Bay.
            .col-md-5
              br
              br
              audio(controls='')
                source(src='/audio/Ecocast2017.06.23.m4a', type='audio/mp4')
          br
          img(src='/images/podcast/Jellies2017.06.23.gif')
                
    .panel.panel-default#ep5
        .panel-heading
            h3.panel-title The Weekend Update June 09, 2017
        .panel-body
          .row
            .col-md-7
                h5 About:
                p We discuss the deer tick forecast for the Northeast. Remember to record tick sightings.
            .col-md-5
              br
              br
              audio(controls='')
                source(src='/audio/Ecocast2017.06.09.m4a', type='audio/mp4')
          br
          img(src='/images/podcast/2017-06-09.png',style='width:830px;height:300px;')
                
    .panel.panel-default#ep6
        .panel-heading
            h3.panel-title The Weekend Update June 02, 2017
        .panel-body
          .row
            .col-md-7
                h5 About:
                p We discuss the deer tick forecast for the Northeast. Remember to record tick sightings.
            .col-md-5
              br
              br
              audio(controls='')
                source(src='/audio/Ecocast2017.06.02.m4a', type='audio/mp4')
          br
          img(src='/images/podcast/2017-06-02.png',style='width:830px;height:300px;')

            
        

style.
  
  body {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .tab-pane{
    height: 550px;
    overflow-y:scroll;
    width:100%;
  }