h2 
  Ecological Podcasts
br
#coverArt
br
.row
  .col-md-6
    .well
      .page-header
        h1
          small Episode 6 - 
          br
          small The Weekend Update July 14, 2017
      br
      audio(controls='')
        source(src='/audio/Ecocast2017.07.14.m4a', type='audio/mp4')
  
  .col-md-6
    .well
      .page-header
        h1
          small Episode 5 - 
          br
          small The Weekend Update July 7, 2017
      br
      audio(controls='')
        source(src='/audio/Ecocast2017.07.07.m4a', type='audio/mp4')
style.
  
  body {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  
  #coverArt {
    height: 70vh;
    width: 100%;
    background-image: url("/images/art.jpg");
  }