.row
  .col-md-8
    ul.nav.nav-tabs
      li.active(role='presentation')
        a(href='#') Tickcast Podcast
      li(role='presentation')
        a(href='/index.html') Tick Forecast
      li(role='presentation')
        a(href='https://report.bigelow.org/tick/') Report Ticks
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Other Species 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Jelly Fish
            li.divider(role='separator')
            li
              a(href='#') Moose  
    img(src="/images/c1.png", style='width:604px;height:260px;')

    
    br
    br      
    
  .col-md-4
    br
    br        
    .panel.panel-default
      .panel-heading
        h3.panel-title Episodes
      .panel-body
        small The Weekend Update July 14, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.07.14.mp3', type='audio/mpeg')
        br
        br
        small The Weekend Update July 7, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.07.07.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 30, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.30.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 23, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.23.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 9, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.09.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 2, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.02.m4a', type='audio/mp4')
        br
        br
        
           


style.
  
  body {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  #art {
    height: 100%;
    width: 100%;
    background-image: url("/images/c1.png");
  }
