.row
  .col-md-8
    ul.nav.nav-tabs
      li(role='presentation')
        a(href='/index.html') Home
      
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          | Report 
          span.caret
        ul.dropdown-menu
          li
            a(href='https://report.bigelow.org/tick/', target='_blank') Ticks
          li.divider(role='separator')
          li
            a(href='https://jellyfish.bigelow.org/jellyfish/', target='_blank') Jellyfish
      
      li.active(role='presentation')
        a(href='#') Weekly Podcast
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Other Species 
            span.caret
          ul.dropdown-menu
            li
              a(href='/jelly.html') Jelly Fish
            li.divider(role='separator')
            li
              a(href='#') Moose
     
      li(role='presentation')
          a(href='/news.html') News
      
    br
    br  
    img(src="/images/c1.png", style='width:604px;height:260px;')
    br
    br
    br
    .panel.panel-primary
        .panel-heading
          h3.panel-title Weekly Forecast Update Podcasts
        .panel-body
           L Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nis  
        
        
    br
    br      
    
  .col-md-4
    br
    br        
    .panel.panel-default
      .panel-heading
        h3.panel-title Episodes
      .panel-body.tab-pane
        br
        small The Weekend Update July 14, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.07.14.mp3', type='audio/mpeg')
        br
        br
        small The Weekend Update July 7, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.07.07.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 30, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.30.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 23, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.23.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 9, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.09.m4a', type='audio/mp4')
        br
        br
        small The Weekend Update June 2, 2017
        br
        br
        audio(controls='')
          source(src='/audio/Ecocast2017.06.02.m4a', type='audio/mp4')
        br
        br
        

style.
  
  body {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .tab-pane{
    height: 550px;
    overflow-y:scroll;
    width:100%;
  }